.hidden {
    display: none;
}

html {
    background: #171717;
    color: #ddd;
}
body {
    font-family: Liberation Sans, sans-serif;
    max-width: 800px;
    margin: 16px auto;
    padding: 0 16px;
}
a {
    color: #ddd;
}
header {
    font-size: 160%;
    text-align: center;
    padding: 4px;
    border-bottom: solid 2px #ddd;
}
header sup {
    font-size: 65%;
}
#feedback {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    font-size: 80%;
}
#feedback a {
    color: #ddd;
    text-decoration: underline;
}
.button-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    margin: 16px auto;
}
button {
    border: 2px solid #ddd;
    border-radius: 16px;
    color: #ddd;
    background: inherit;
    height: 48px;
    width: 120px;
    margin: 16px;
    display: block;
}
button.active {
    background: #555;
}
button:hover {
    background: #555;
}
button:active {
    background: #999;
}
#timer-counter-digital {
    font-size: 500%;
    max-width: 350px;
    margin: 16px auto;
    text-align: center;
}
#timer-counter-scale {
    width: 80%;
    margin: 16px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}
#timer-counter-progress:empty {
    background: #ddd;
    height: 10px;
    border-radius: 5px;
}
#strike-panel {
    margin: 0 16px;
}
#log-content .date {
    font-style: italic;
    text-decoration: underline;
    margin: 8px 0;
}
#log-content .record {
    margin: 4px 4px 0 30px;
}
#keybindings ul {
    list-style-type: none;
}
#keybindings li {
    margin: 8px 0;
}
kbd {
    margin: 4px;
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 3px;
    display: inline-block;
    min-width: 20px;
    text-align: center;
}
#preferences .adjust-panel {
    width: 400px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 16px;
    justify-content: space-between;
}
#preferences .adjust-panel .label {
    margin: 0 16px;
}
#preferences .adjust-panel .adjust {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 16px;
    width: 180px;
    flex-shrink: 0;
}
#preferences .adjust-panel .adjust .value {
    width: 60px;
    flex-shrink: 0;
    text-align: center;
}
#preferences .adjust-panel .adjust button {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    flex-shrink: 0;
}
